.container {
  width: 100%;
  min-width: 1200px;
  height: 100%;
  margin: 0px;
  padding: 0px;
  padding-bottom: 100px; 
  font-family: 'Open Sans', arial, sans-serif;
  background: linear-gradient(to bottom, rgba(0,0,0, 1) 0%, rgba(255,255,255, 1) 50%, rgba(0,0,0, 1) 100%); 
}

/* GENERAL
------------------------*/ 

h1 {
  font-size: 60px;
  font-family: Open Sans, sans-serif;
  font-weight: bold;
  text-align: center;
  color: white;
  position: relative;
  margin: 0px;
  padding: 50px; 
  text-shadow: 1px 1px 1px #999,2px 2px 1px #999,3px 3px 1px #999,4px 4px 1px #999;
}


.box {
	margin: 0px 200px 50px 200px;
	background: rgb(250, 255, 250);
	border: 3px solid black;
	padding: 25px;
}

.box h2 {
	font-family: 'Raleway', sans-serif;
	font-style: italic;
	font-size: 1.8em;
}
.box h3 {
	font-family: 'Open Sans', sans-serif;
	font-size: 1.2em;
}
.box p {
	font-family: 'Open Sans', sans-serif; 
}

p.qu {
	text-align: center;
	font-style: italic;
}